<div class="row mt-5">
  <div class="col-3">
    <% if @user.id == current_user.id %>
      <%= render 'users/sidemenu' %>
    <% end %>
  </div>
  
  <div class="col-9 mt-4">
    <%= render 'users/intro' %>
    <div >
      <ul class="tab">
        <li class="select">フォロー一覧</li>
        <li>投稿アイテム一覧</li>
      </ul>
      <ul class="content">
        <li class="mb-5">
        <%= render partial: 'users/following', locals: {user: @user } %>
        </li>
        <li class="hide">
        <%= render partial: 'users/onsell', locals: {onsell: @onsell_items } %>
        </li>
      </ul>
    </div>
  </div>
</div> 
   
 
  
