/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 body{
  background-color: rgb(243, 243, 243);
}

.container{
  min-height: 100vh;
  padding-top: 120px;
  background-color: #fff;
}

p, ol, th, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  // line-height: 18px;
}


.scale{
  cursor:pointer;
   transition:transform 0.4s;
}
.scale:hover {
  transform:scale(0.95);
}

.pagination {
  justify-content: center;
  margin:0;
  padding-bottom: 10px;
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  // background-color: rgb(247, 247, 247);
}

.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 50%;     /*角を丸くする*/
}
.page-item.active .page-link{
  background: #ffb26a;
}

.header{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 200;
 }

 .icon{
  width: 110px;
  height: 80px;
  // display: inline-block;
  margin: 5px;
  margin-left: 8%;
  margin-right: 5%;
}

.footer{
  background-color: rgb(39, 39, 39);
  text-align: center;
  height:200px;
}

.footer p{
  color: rgb(255, 255, 255);
  margin:0;
  text-align: center;
}

.fa-cc-stripe{
  color: rgb(84, 50, 231);
  font-size: 40px;
  text-align: center;
}
.footer_icon{
  // position: fixed;
  padding: 32px;
  border-radius: 50%;
  background-color:#ffffff;
  z-index: 5;
  width: 30px;
  height: 30px;
  text-align: center;
  margin:0 auto;
}

.fa-cc-visa{
  font-size: 40px;
  color: rgb(76, 47, 206);
}

.fa-shopping-cart{
  font-size: 40px;
  color: rgb(240, 140, 46);
  // display: block;
  //   margin-left: auto;
  //   margin-right: auto;
   
}