/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 body{
  background-color: rgb(247, 247, 247);
}

.container{
  min-height: 100vh;
}

p, ol, th, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.pagination {
  justify-content: center;
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  background-color: rgb(247, 247, 247);
}

.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 70%;     /*角を丸くする*/
}
.page-item.active .page-link{
  background: #ffb26a;
}

.header{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  display: flex;
  width: 100%;
 }

 .icon{
  width: 110px;
  height: 80px;
  // display: inline-block;
  margin: 5px;
  margin-left: 8%;
  margin-right: 5%;
}

.footer{
  background-color: rgb(41, 41, 41);
  
}

.footer p{
  color: #fff;
  margin:0;
  text-align: center;
}

.fa-cc-stripe{
  color: rgb(84, 50, 231);
  font-size: 40px;
  text-align: center;
}