// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbo{
  background-color: #fff;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
  // border: solid 0.5px ;
  border-color: rgb(156, 156, 156);
  
}