// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow_form{
  display: inline-block;
}

.follow_form input{
  background-color: rgb(238, 143, 55);
  color:#fff;
  font-size: 12px;
  padding:10px;
  border-style: none;
  // border-color: rgb(55, 140, 238);
}

.follow_form button{
  color: rgb(216, 97, 0);
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  padding:10px;
  border-style: solid 1px;
  border-color:rgb(238, 122, 55);
}