// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_default{
  // position: fixed;
  padding: 32px;
  border-radius: 50%;
  background-color:#aab1b9;
  width: 150px;
  height: 150px;
  text-align: center;
}

.fa-user-alt{
  font-size: 80px;
  text-align: center;
  color:#fff;
}

.border-bot{
  border-left: solid 5px #ffa227;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
}

.border-below{
  border-bottom: solid 3px #ffa227;
}

.introbox{
  background-color: rgba(231, 181, 86, 0.719);

}