// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_default{
  position: absolute;
  left: 340px;
  top: -60px;
  padding: 32px;
  border-radius: 50%;
  background-color:#aab1b9;
  width: 120px;
  height: 120px;
  text-align: center;
}

.fa-user-alt{
  font-size: 50px;
  text-align: center;
  color:#fff;
}

.border-bot{
  border-left: solid 5px #ffa227;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
}

.border-below{
  border-bottom: solid 3px #ffa227;
}

.introbox{
  background-color: rgb(250, 208, 145);
}

.fa-tshirt{
  font-size:30px;
  color: rgb(253, 172, 49);
}

.fa-users{
  font-size:30px;
  color: rgb(107, 107, 107);
}


//切り替えタブ
ul li{
	float:left;
	margin-right:1px;
	list-style-type:none;
}

.unuse_tab  a{
	
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	display:block;
	width:100px;
	padding:15px 20px;
	background:#C15757;
}

ul li a:hover{
	background:#D26161;
	color:#FFF;
}

ul li a.current{
	background:#F5F4F2;
	color:#C15757;
}

#contents{
	clear:both;
	// margin-bottom:150px;
}

#contents {
  padding:30px 20px;
	background:#F5F4F2;
}

#contents p{
	margin-top:20px;
	line-height:2em;
	color:#C15757;
}

#contents strong{
	font-size:4em;
	font-weight:bold;
	color:#D6AF62;
}

 // タブ人の

 .tab {
  list-style:none;
  overflow:hidden;
  margin: 0;
  padding-left: 0;
}

.tab li {
  background:rgb(233, 176, 176);
  padding:15px 35px;
  float:left;
  margin-right:1px;
  border-radius: 10px 10px 0 0;
}

.tab li.select {
  background:#eee;
}

.content {
  list-style:none;
  margin: 0;
  padding-left: 0;
}

.content li{
  background:#eee;
  padding:20px;
  border-radius: 0px 10px 10px 10px;
}

.hide {
  display:none;
}

.user-scroll-row{
  height: 600px;
  margin-bottom: -15px;
  padding: 5px 10px;
  overflow: scroll;
  word-break: break-all;
  background-color: #eee;
  border-radius: 40px;
  border: 10px solid #eee;
}